<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %>

<body>

  <%- include('./partials/nav.ejs')  %>

  <div class="about content">
    <h2>All blogs</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat ad praesentium dolorum repudiandae quisquam, quis facere eligendi eum quae!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat ad praesentium dolorum repudiandae quisquam, quis facere eligendi eum quae!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita fugiat ad praesentium dolorum repudiandae quisquam, quis facere eligendi eum quae!</p>
  </div>

  <%- include('./partials/footer.ejs')  %>

</body>

</html>
